<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to HotSpot.com, <%= @user.name %></h1>
    <p>
      Your request to be upgraded to Content Manager could not be approved at this time.
    </p>
  </body>
</html>