/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.map-box {

}
 
.btn {
    color:#FFF !important; 
}

.btn-default {
    color:#000000 !important; 
}

.title-link:hover {
  color:#000000 !important;
  text-decoration: none;
}

.title-link {
  margin: 3px;
}

.auth {
  margin: 2px;
}

.container {
  background-color: #fff;
}

body {
  background-color: #C5C5C5!important;
}

.alert-box {
  margin: 5px;
}