<h3>Browse Hotspots</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><h4><%= link_to location.name, location %></h4></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= location.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
