<%# navigation styled for Bootstrap 3.0 %>
<div class="pull-right auth">
  <% if current_user %>
    Signed in as <%= current_user.name %>.
    <%= link_to "Log Out", signout_path, :class => "btn btn-primary btn-xs" %>
  <% else %>
    <%= link_to "Log in with Facebook", "/auth/facebook", :class => "btn btn-primary btn-xs" %>
  <% end %>
</div>